.heading {
  text-align: center;
  color: #2F4F4F;
  margin-bottom: 10px;
  margin-top: -2px;
  font-family: courier, sans-serif;
}
.personal-info {
  text-align: center;
  margin-top: -2px;
  font-family: courier, sans-serif;
}
.email {
  margin-left: 15px;
}
span a {
  text-decoration: none;
  color: #000000;
}
span a:hover {
  color: red;
}
hr {
  border: 0;
  width: 80%;
  height: 2px;
  background-color: #2F4F4F;
}
.container {
  margin: 0 10%;
  border: 5px solid red;
  line-height: 22px;
}
.objective {
  font-family: courier, sans-serif;
  font-size: 14px;
}
.obj {
  font-size: 18px;
  font-weight: bold;
}
.obj-1 {
  font-size: 14px;
  padding-left: 72px;
}
.obj-2 {
   padding-left: 170px;
}
.experience-1 {
  font-family: courier, sans-serif;
  font-size: 14px;
}
.exp-1 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
}
.exp-2 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}
.exp-3 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 300px;
}
.exp-4 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 40px;
}
.exp-5 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 390px;
}
.exp-6 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 40px;
}
.exp-7 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 400px;
}
ul li {
  list-style: inside;
  /* width: fit-content; */
	padding-left: 130px;
  list-style-type: square;
}
.experience-2 {
  font-family: courier, sans-serif;
  font-size: 14px;
}
.date-1 {
  margin-left: 0px;
  font-size: 12px;
}
.date-2 {
  margin-left: -40px;
  font-size: 12px;
}
.date-3 {
  margin-left: -40px;
  font-size: 12px;
}
.order-1 {
  margin-top: -20px;
}
.experience-3 {
  font-family: courier, sans-serif;
  font-size: 14px;
}
.edu-1 {
  font-family: courier, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.edu-2 {
  font-family: courier;
  font-size: 15px;
  font-weight: bold;
  padding-left: 70px;
}
.edu-3 {
  font-family: courier;
  font-weight: bold;
  font-size: 14px;
  padding-left: 50px;
}
.edu-4 {
  font-family: courier, sans-serif;
  font-size: 15px;
  padding-left: 50px;
}
.skill {
  font-family: courier;
  font-size: 14px;
  margin-top: -10px;
}
.tech-1 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 0px;
}
.tech {
  margin-top: -20px;
}
.project {
  font-family: courier,sans-serif;
  font-weight: bold;
}
